@model DomainModule.Models.CartModel
@{
    ViewData["Title"] = "Заказ";
}

<style>
    .empty_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
</style>

<div class="empty_container">
    <h1>Заказ успешно оформлен!</h1>
</div>